{% extends "layouts/base.html" %}

{% block content %}

<h1>Task 2 Students</h1>

<a href="/books/lab11/task2/addstudent/">
    Add Student
</a>

<hr>

{% for student in students %}

    <h3>{{ student.name }}</h3>

    <p>Age: {{ student.age }}</p>

    <p>Addresses:</p>

    <ul>
        {% for address in student.addresses.all %}
            <li>{{ address.city }}</li>
        {% endfor %}
    </ul>

    <a href="/books/lab11/task2/editstudent/{{ student.id }}/">
        Edit
    </a>

    <a href="/books/lab11/task2/deletestudent/{{ student.id }}/">
        Delete
    </a>

    <hr>

{% endfor %}

{% endblock %}